* {
  margin: 0;
}

.centerContents {
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainDiv {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

#imgCarousel {
  border: 2px solid lightblue;
  border-radius: 10px;
  padding: 20px;
  max-width: 80vw;
  max-height: 80vh;
	display: flex;
  justify-content: center;
  align-items: center;
}

#imgCarousel img {
  transition: width 200ms;
}

#selectorsDiv {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.imageSelector {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.imageSelector.selected {
  background-color: darkgray;
}

#imgCarousel img.hidden {
  visibility: hidden;
}